In [2]:
print('this is my first class')
print('this is my first class')
print('this is my first class')
print('this is my first class')
print('this is my first class')

this is my first class
this is my first class
this is my first class
this is my first class
this is my first class

## headline

In [3]:
1+2

3

In [8]:
3**3

27

In [7]:
3*4*4

48

In [9]:
a = 1
b=4**5

In [10]:
b

1024

In [11]:
a = 10
a

10

In [12]:
type(a)

int

In [13]:
san1 =45.67
type(san1)

float

In [14]:
w1 = 5+7j
type(w1)

complex

In [15]:
print('i m good')

i m good

In [16]:
def test():
    "this is my function"
    return True

In [17]:
test()

True

In [18]:
x = "chvd"
x

'chvd'

In [19]:
type(x)

str

In [20]:
a = 10 
b = 20
a+b

30

In [21]:
a*b

200

In [22]:
f =45.67
type(f)

float

In [27]:
c= 7+8j
type(c)

complex

In [28]:
c

(7+8j)

In [29]:
c.real

7.0

In [30]:
c.imag

8.0

In [31]:
c.conjugate

In [32]:
s = 'sand'

In [33]:
1+1

2

In [34]:
1+"sand"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
"1"+"sand"

'1sand'

In [36]:
s ="sandhya gautam"
s

'sandhya gautam'

In [37]:
s[0]

's'

In [38]:
s[8]

'g'

In [39]:
s[90]

IndexError: string index out of range

In [40]:
s[-2]

'a'

In [42]:
s[0:4]

'sand'

In [43]:
s[5:90]

'ya gautam'

In [44]:
s[0:13:2]

'snhagua'

In [45]:
s[0:90:2]

'snhagua'

In [47]:
s[::2]

'snhagua'

In [48]:
s[0::2]

'snhagua'

In [49]:
s[0::-1]

's'

In [50]:
s[::-1]

'matuag ayhdnas'

In [51]:
s[0:5:-1]

''

In [52]:
s[0:10:-1]

''

In [53]:
s[5:1:1]

''

In [54]:
s[5:1:-1]

'yhdn'

In [55]:
s[::-1]

'matuag ayhdnas'

In [56]:
s

'sandhya gautam'

In [58]:
s[5:-1:-1]

''

In [59]:
len(s)

14

In [60]:
1+1

2

In [61]:
'sand'+'sand'

'sandsand'

In [62]:
3*10

30

In [63]:
'sand'*10

'sandsandsandsandsandsandsandsandsandsand'

In [64]:
4/6

0.6666666666666666

In [65]:
'sand'/6

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [66]:
b = True
type(b)

bool

In [67]:
True -True

0

In [68]:
False-True

-1

In [69]:
True-False

1

In [70]:
True/False

ZeroDivisionError: division by zero

In [71]:
1/0

ZeroDivisionError: division by zero

In [72]:
import numpy as np

In [74]:
np.asanyarray([5,1])/0

C:\Users\visan\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

array([inf, inf])

In [75]:
sudh =[1,2,3,4,5]

In [76]:
a=10

In [78]:
l = ['sudh',45,56,78,5+7j,[1,2,3,3]]
type(l)

list

In [80]:
l[0]

'sudh'

In [81]:
l [-1]

[1, 2, 3, 3]

In [82]:
l[::-1]

[[1, 2, 3, 3], (5+7j), 78, 56, 45, 'sudh']

In [83]:
l[5:0:1]

[]

In [84]:
l[5:10:-1]

[]

In [85]:
l[-2:-5:1]

[]

In [86]:
l[-2:-5:-1]

[(5+7j), 78, 56]

In [88]:
l[0][::-1]

'hdus'

In [89]:
l[-1][::-1]

[3, 3, 2, 1]

In [90]:
l[1][::-1]

TypeError: 'int' object is not subscriptable

In [91]:
a = [1,2,3,4]

In [93]:
a+list('sand')

[1, 2, 3, 4, 's', 'a', 'n', 'd']

In [94]:
a*4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [96]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [97]:
list(range(4,20))

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [98]:
list(range(4,20,2))

[4, 6, 8, 10, 12, 14, 16, 18]

In [99]:
list(range(-3,-13,1))

[]

In [101]:
list(range(-3,-13,-1))

[-3, -4, -5, -6, -7, -8, -9, -10, -11, -12]

In [103]:
a= 10
b=20
a+b

30

In [114]:
a =(input('enter value a '))
b =int(input('enter value b '))
print(type(a))
print(type(b))

enter value a sfs
enter value b 78
<class 'str'>
<class 'int'>

In [116]:
a=10
b=20
c='sand'
d =[1,2,3,4]

In [117]:
a,b,c,d = 12,20,'sand',[1,2,3,4]

In [118]:
tup = (1,2,3,4)

In [120]:
type(tup)

tuple

In [121]:
l =[1,2,3,4]

In [122]:
type(l)

list

In [125]:
tup[0:5]

(1, 2, 3, 4)

In [126]:
l[0:5]

[1, 2, 3, 4]

In [127]:
tup[::-1]

(4, 3, 2, 1)

In [128]:
l[0]='sand'

In [129]:
l

['sand', 2, 3, 4]

In [130]:
tup[0]='sand'

TypeError: 'tuple' object does not support item assignment

In [131]:
s ='kumar'

In [133]:
s[0]

'k'

In [134]:
s[0]='h'

TypeError: 'str' object does not support item assignment

In [135]:
a = 10
if a :
    print('this is value of a')

this is value of a

In [136]:
a = 10
if a<20:
    print('test')

test

In [137]:
a = 10
if a<20:
    pass

In [145]:
if  a >20:
    print('this is number')
if a == 30:
        print('this is my alternate statement')
elif type(a)==int:
    print('I am checking')
elif a < 20:
    print('print this')
else:
    print('this statement')

I am checking

In [150]:
Discount = int(input())
if Discount ==50:
    print('you can buy all the items listed in row')
elif Discount ==30:
    print('go to row no.2')
elif Discount ==20:
    print('send user to row no. 3')
elif Discount ==10:
    print('send him 4th row')
else:
    print('no item available')

50
you can buy all the items listed in row

In [153]:
income = int(input())
if income > 1000:
    print('get platinum card')
    if income > 2000:
        print('get another facilities')
        if income >2200:
            print('discount in services')
        elif income>2300:
            print('get air ticket')
        else:
            print('no option available')
    elif income<1500:
        print('no facilities')
    else:
        print('no option')
elif income>800:
    print('get gold card')
else:
    print('this')

2400
get platinum card
get another facilities
discount in services

In [156]:
val = int(input())
if val == 10:print('this is 10')

10
this is 10

In [157]:
l = [2,3,4,5,6,7,8,9,3]
l

[2, 3, 4, 5, 6, 7, 8, 9, 3]

In [158]:
l[::]

[2, 3, 4, 5, 6, 7, 8, 9, 3]

In [160]:
for i in l:
   print(i)

2
3
4
5
6
7
8
9
3

In [161]:
l=['sand',[1,2,3,4,5], (2,3,4,5,6),55,67,6+7j,True,45.67]
for i in l:
    print(i)

sand
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)
55
67
(6+7j)
True
45.67

In [163]:
for i in l:
    if type(i)==str:
        print(i)

sand

In [166]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)

In [168]:
for i in l:
    if type(i)==list:
        print(i[::-1])

[5, 4, 3, 2, 1]

In [170]:
s ='sudh kumar'
for i in s:
    print(i+'1')

s1
u1
d1
h1
 1
k1
u1
m1
a1
r1

In [172]:
t =(3,4,5,6,7)
for i in t:
    print(i)

3
4
5
6
7

In [176]:
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [175]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [179]:
for i in l:
    if type(i)==list or type(i)==tuple or type(i)==str:
        print(i)

sand
[1, 2, 3, 4, 5]
(2, 3, 4, 5, 6)

In [181]:
for i in l:
    if type(i)==list and type(i)==tuple and type(i)==str:
        print(i)
    else:
        print('not possible')

not possible
not possible
not possible
not possible
not possible
not possible
not possible
not possible

In [185]:
for i in l:
    #print(i)
    if type(i)==list or type(i)==tuple:
        for j in i:
            print(j)

1
2
3
4
5
2
3
4
5
6

In [191]:
n =int(input())
for i in range(n):
    for j in range(i+1):
        print('.',end='')
    print('')

10
.
..
...
....
.....
......
.......
........
.........
..........

In [192]:
n =int(input())
for i in range(n):
    for j in range(i+1):
        print('.',end='_')
    print('')

10
._
._._
._._._
._._._._
._._._._._
._._._._._._
._._._._._._._
._._._._._._._._
._._._._._._._._._
._._._._._._._._._._

In [193]:
n =int(input())
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print('')

10
*
**
***
****
*****
******
*******
********
*********
**********

In [213]:
n = 10
print(n)
for i in range(n):
    for j in range(i+1):
        #if j == 2
        print('*',end='')
    print(' ')

10
*
**
***
****
*****
******
*******
********
*********
**********

In [214]:
lis = [[1,1,2,2,3,3],[2,4,2,2,5],[1,5,8,8,2]]
for i in lis:
    if i

SyntaxError: invalid syntax (<ipython-input-214-990575789448>, line 3)

In [215]:
s ='sudh'
s +str(1)

'sudh1'

In [1]:
def thing():
    print('Hello')

print('There')

There

In [5]:
def addtwo(a, b):
    added = a + b
    return a

x = addtwo(2, 7)
print(x)

2

In [3]:
def func(x) :
    print(x)

func(10)
func(20)

10
20

In [4]:
def greet(lang):
    if lang == 'es':
        return 'Hola'
    elif lang == 'fr':
        return 'Bonjour'
    else:
        return 'Hello'

print(greet('fr'),'Michael')

Bonjour Michael

In [6]:
def computepay(h, r):
    if h <= 40: 
        Pay = h * r
    elif h > 40:
        Pay = 40 * r + (h-40) * r * 1.5
    return Pay

hrs = input("Enter Hours:")
hr = float(hrs)
r = input("Enter Rate:")
rate = float(r)
p = computepay(hr, rate)
print("Pay", p)

Enter Hours:8
Enter Rate:2
Pay 16.0

In [7]:
tot = 0 
for i in [5, 4, 3, 2, 1] :
    tot = tot + 1
print(tot)

5

In [8]:
smallest_so_far = -1
for the_num in [9, 41, 12, 3, 74, 15] :
   if the_num < smallest_so_far :
      smallest_so_far = the_num
print(smallest_so_far)

-1

In [10]:
largest = None
smallest = None

while True:
    try:
        num = input("Enter a number: ")
        if num == 'done':
            break
        n = int(num)
        if largest is None or n > largest:
            largest = n
        elif smallest is None or n < smallest:
            smallest = n
    except:
        print("Invalid input")
        continue

print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number: 7
Enter a number: 2
Enter a number: bob
Invalid input
Enter a number: 10
Enter a number: 4
Enter a number: done
Maximum is 10
Minimum is 2

In [11]:
largest = None
smallest = None

while True:
    try:
        num = input("Enter a number: ")
        if num == 'done':
            break
        n = int(num)
        if largest is None or n > largest:
            largest = n
        elif smallest is None or n < smallest:
            smallest = n
    except:
        print("Invalid input")
        continue

print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number: 7,2,bob,10,4,done
Invalid input
Enter a number: done
Maximum is None
Minimum is None

In [ ]:
largest = None
smallest = None

while True:
    try:
        num = input("Enter a number: ")
        if num == 'done':
            break
        n = int(num)
        if largest is None or n > largest:
            largest = n
        elif smallest is None or n < smallest:
            smallest = n
    except:
        print("Invalid input")
        continue

print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number: 7,2
Invalid input
Enter a number: bob,10,4,done
Invalid input

In [6]:
l = [1,2,3,4,5,'sudh']
for i in l:
    if type(i)==str:
       print(i)
else:
    print('on success')

sudh
on success

In [5]:
#while loop check whether statements are true or not
i =1 
n = 5
while i <n:
    print(i)
    i =i+1
else:
    print('on success')

1
2
3
4
on success

In [8]:
x =1
while x<10:
    print(x)
    if x==5:
        break
    x=x+1
else:
    print('on success')

1
2
3
4
5

In [9]:
s ='sudh'
for i in s:
    print(i)
    if i =='d':
        break
else:
    print('on success')

s
u
d

In [11]:
i =4
n =10
while i <n:
    print(i)
    if i==6:
        #continue

SyntaxError: unexpected EOF while parsing (<ipython-input-11-408355fce51e>, line 6)

In [13]:
l =['sudh','kumar',3,4,5,6,7]
for i in l:
    if i ==5:
        continue
    print(i)

sudh
kumar
3
4
6
7

In [14]:
s ='ineuron'
len(s)

7

In [15]:
s.find('n')

1

In [16]:
s.count('n')

2

In [17]:
s.split('u')

['ine', 'ron']

In [18]:
s.upper()

'INEURON'

In [19]:
s ='SANDHYA'
s.lower()

'sandhya'

In [22]:
s ='sandhya'

In [23]:
s.swapcase()

'SANDHYA'

In [24]:
s.capitalize()

'Sandhya'

In [25]:
s ='sudh'
list(reversed(s))

['h', 'd', 'u', 's']

In [26]:
s[::-1]

'hdus'

In [30]:
s ='       ineuron    '
s.strip()

'ineuron'

In [31]:
s.lstrip()

'ineuron    '

In [33]:
s.rstrip()

'       ineuron'

In [35]:
'  '.join('welcome here')

'w  e  l  c  o  m  e     h  e  r  e'

In [36]:
s ='sudh'
s.replace('s','xyz')

'xyzudh'

In [37]:
print('my name is','sandhya')

my name is sandhya

In [38]:
s.replace('d','sadsadsff')

'susadsadsffh'

In [39]:
s.center(20,'c')

'ccccccccsudhcccccccc'

In [40]:
'sudh\tineuron'.expandtabs()

'sudh    ineuron'

In [41]:
s='sudh'
s.isupper()

False

In [42]:
s.islower()

True

In [44]:
s='Sudh'
s.isupper()

False

In [46]:
s.islower()

False

In [47]:
s.isspace()

False

In [48]:
s='sudh'
s.isdigit()

False

In [50]:
s.endswith('h')

True

In [51]:
s='sudh4546'
s.isalpha()

False

In [52]:
s.isalnum()

True

In [53]:
s ='my name is san'
for i in s:
    print(i)

m
y

n
a
m
e

i
s

s
a
n

In [59]:
#to get the alphabets in reversed order without using slicing operations and reverse in-built function
s ='ineuron'
l =len(s)-1
print(l)
while l>=0:
    print(s[l])
    l =l-1

6
n
o
r
u
e
n
i

In [60]:
i ='san'
print('my name is')

my name is

In [61]:
'my name is {}'.format('san')

'my name is san'

In [62]:
i =input('enter your name')
'my name is {}'.format(i)

enter your namesandhya

'my name is sandhya'

In [65]:
name= input('enter your name')
school = input('enter your svhool name')
education = input('enter your education')
'my name is {},and my school name is{}, and my education is{}'.format(name,school,education)

enter your namesandhya
enter your svhool nameeverst
enter your educationmaster

'my name is sandhya,and my school name iseverst, and my education ismaster'

In [66]:
l =[1,2,3,3,4,4,45,'sudh','kumar','ineuron']
len(l)

10

In [67]:
'sudh'in l

True

In [68]:
'sse' in l

False

In [69]:
l.append('computer vision')
l

[1, 2, 3, 3, 4, 4, 45, 'sudh', 'kumar', 'ineuron', 'computer vision']

In [71]:
l.append(2)
l

[1, 2, 3, 3, 4, 4, 45, 'sudh', 'kumar', 'ineuron', 'computer vision', 2]

In [72]:
l.pop()

2

In [73]:
l

[1, 2, 3, 3, 4, 4, 45, 'sudh', 'kumar', 'ineuron', 'computer vision']

In [74]:
l.pop(6)

45

In [75]:
l

[1, 2, 3, 3, 4, 4, 'sudh', 'kumar', 'ineuron', 'computer vision']

In [76]:
l.reverse()

In [77]:
l

['computer vision', 'ineuron', 'kumar', 'sudh', 4, 4, 3, 3, 2, 1]

In [79]:
l.insert(20,'sudh')
l

['computer vision',
 'ineuron',
 'sudh',
 'kumar',
 'sudh',
 4,
 4,
 3,
 3,
 2,
 1,
 'sudh']

In [80]:
l.remove(4)
l

['computer vision', 'ineuron', 'sudh', 'kumar', 'sudh', 4, 3, 3, 2, 1, 'sudh']

In [81]:
l=[1,2,3,4,5]
l1=[45,36,67,48,56]
l+l1

[1, 2, 3, 4, 5, 45, 36, 67, 48, 56]

In [84]:
l.insert(-1,l1)

In [85]:
l

[1, 2, 3, 4, 11, [45, 36, 67, 48, 56], 5]

In [86]:
l.extend(l1)

In [87]:
l

[1, 2, 3, 4, 11, [45, 36, 67, 48, 56], 5, 45, 36, 67, 48, 56]

In [89]:
s='my name is sudh'
for i in s.split():
    print(i)

my
name
is
sudh

In [90]:
l =[1,2,3,4,56]
l1=[]
for i in l:
    l1.append(i**2)

In [91]:
l1

[1, 4, 9, 16, 3136]

In [94]:
[i**2 for i in l]

[1, 4, 9, 16, 3136]

In [95]:
s='sudh'
[i for i in s]

['s', 'u', 'd', 'h']

In [108]:
# try to create a separate list with even and odd number of size 10 and perform element wise addition operation
even_numb = [i for i in range(0,20,2)]
odd_numb=[i for i in range(1,20,2)]
print(even_numb)
print(odd_numb)
new_list = [even_numb[i] + odd_numb[i] for i in range(10)]
print(new_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 5, 9, 13, 17, 21, 25, 29, 33, 37]

In [109]:
# Q1 : write a list comprehension operation for generating all the list of alphabetical character in uppercase and lowercase character
#Q2: write a code for palindrom by using while statement.
# Q3: write a code to sort your string in alphabetical order.// don't use sort function

### Q1 : Write a list comprehension operation for generating all the list of alphabetical character in uppercase and lowercase character

In [114]:
list_alphabet = [i.upper() for i in 'abcdefghijklmnopqrstuvwxyz']
print(list_alphabet)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [116]:
list_alphabet= [i.lower()for i in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ']
print(list_alphabet)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

### Q2: Write a code for palindrome by using while statement.

In [ ]:
l = input('Enter a number')
while l>=6:
    print

In [118]:
x = [4,5,6,7]
[i**2 for i in x]

[16, 25, 36, 49]

In [120]:
t =(1,2,3,4,5,'sudh')
t[0]

1

In [121]:
t[0:4]

(1, 2, 3, 4)

In [122]:
t.count(2)

1

In [123]:
t.index('sudh')

5

In [124]:
del(t)

In [125]:
t

NameError: name 't' is not defined

In [126]:
s =set()

In [127]:
s.add(3)

In [128]:
s.add(5)

In [129]:
s.add('sudh')

In [130]:
s

{3, 5, 'sudh'}

In [131]:
s1={3,4,32,3,34,3,6}

In [132]:
s1

{3, 4, 6, 32, 34}

In [133]:
l =[1,1,1,1,2,2,2,3,3,3,5,5,5,8,8,8]
set(l)

{1, 2, 3, 5, 8}

In [134]:
s1= set()
for i in l:
    if type(i)!=list:
        s1.add(i)
s1

{1, 2, 3, 5, 8}

In [135]:
s1.remove(3)
s1

{1, 2, 5, 8}

In [136]:
s1.discard(354)

In [137]:
s1.remove(354)

KeyError: 354

In [138]:
x = {'ineuron','machine','learning'}
y ={'stats','deep learning','computer vision','ineuron'}

In [139]:
type(x)

set

In [140]:
type(y)

set

In [141]:
x.difference(y)

{'learning', 'machine'}

In [142]:
y.difference(x)

{'computer vision', 'deep learning', 'stats'}

In [143]:
s

{3, 5, 'sudh'}

In [144]:
s[0]

TypeError: 'set' object does not support indexing

In [145]:
s[0:1]

TypeError: 'set' object is not subscriptable

In [147]:
for i in s:
    print(i)

3
5
sudh

In [148]:
list(s)

[3, 5, 'sudh']

In [149]:
tuple(s)

(3, 5, 'sudh')

In [150]:
d ={}
type(d)

dict

In [151]:
d ={4,5,6}
type(d)

set

In [152]:
d={'key':'value'}
type(d)

dict

In [153]:
d ={4:'sudh',5:'kumar','k1':'xyz','k2':[1,2,3,4,5],6:(4,5,6,7,8)}
_ = 4567
type(_)

int

In [157]:
d= {4:'sudh',5:'kumar',(4,5,6,7):'sfsdf',4:'6789'}
d
#since 4 has two values which is duplicate . so it willl take the updated one means the last one

{4: '6789', 5: 'kumar', (4, 5, 6, 7): 'sfsdf'}

In [158]:
d2 ={1:'sudh',2:'kumar',3:['ML','DL','OOPs'],4:'sudh'}
d2

{1: 'sudh', 2: 'kumar', 3: ['ML', 'DL', 'OOPs'], 4: 'sudh'}

In [159]:
d2[0]

KeyError: 0

In [160]:
d2[1]

'sudh'

In [161]:
d[(4,5,6,7)]

'sfsdf'

In [164]:
d ={'k1':'ineuron','k2':'ineuron','k3':{1:'sudh',2:'kumar',3:'xyz'}}

In [165]:
d['k3'][3]

'xyz'

In [166]:
d['k4']=345

In [167]:
d

{'k1': 'ineuron',
 'k2': 'ineuron',
 'k3': {1: 'sudh', 2: 'kumar', 3: 'xyz'},
 'k4': 345}

In [168]:
d['k1']='sadssdaf'
d

{'k1': 'sadssdaf',
 'k2': 'ineuron',
 'k3': {1: 'sudh', 2: 'kumar', 3: 'xyz'},
 'k4': 345}

In [169]:
for i in d:
    print(i)

k1
k2
k3
k4

In [170]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [171]:
d.values()

dict_values(['sadssdaf', 'ineuron', {1: 'sudh', 2: 'kumar', 3: 'xyz'}, 345])

In [172]:
d.items()

dict_items([('k1', 'sadssdaf'), ('k2', 'ineuron'), ('k3', {1: 'sudh', 2: 'kumar', 3: 'xyz'}), ('k4', 345)])

In [173]:
list(d.keys())[1]

'k2'

In [174]:
for i in d.keys():
    if type(d[i])==dict:
        print(d[i])

{1: 'sudh', 2: 'kumar', 3: 'xyz'}

In [175]:
d={}
for i in range(11):
    d[i]=i**2

In [176]:
d

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [177]:
{i:i**2 for i in range(11)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [178]:
s ='ineuron'
{i:'ineuron'for i in s}

{'i': 'ineuron',
 'n': 'ineuron',
 'e': 'ineuron',
 'u': 'ineuron',
 'r': 'ineuron',
 'o': 'ineuron'}

In [179]:
d ={'ineuron':{'a':23,'b':34,'c':56},'course':{'d':45,'e':12}}

In [181]:
all_values= d.values()
max_value= max(all_values)
print(max_value)

TypeError: '>' not supported between instances of 'dict' and 'dict'

In [1]:
l =[3,4,5,6,7,7]
len(l)

6

In [2]:
print('this is my print')

this is my print

In [3]:
type(l)

list

In [2]:
def test ():
    pass

In [3]:
test()

In [4]:
def test1():
    print('this is my function')

In [5]:
test1()

this is my function

In [6]:
def test2():
    print(1+22)

In [7]:
test2()

23

In [8]:
def test3(a,b):
    print(a+b)

In [9]:
test3(2,4)

6

In [10]:
import pandas as pd

In [11]:
pd.__version__

'0.23.4'

In [12]:
from platform import python_version
python_version()

'3.7.1'

In [13]:
!jupyter --version

4.4.0

In [14]:
test3(10,40)

50

In [15]:
test3('sand','gautam')

sandgautam

In [16]:
test3(4,'sand')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [21]:
def test4(a,b):
    if type(a)!=str:
        print(str(a)+b)
    else:
        print(a+b)

In [25]:
test4(4,'sand')

4sand

In [26]:
test4(4,'sand') +'kumar'

4sand

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [27]:
type(test4(4,'sand'))

4sand

NoneType

In [28]:
def test5(a,b):
    if type(a)!= str:
        return str(a)+b
    else:
        return a+b

In [29]:
test5(4,'sand')

'4sand'

In [31]:
test5(4,'sand') +'kumar'

'4sandkumar'

In [32]:
def test6(a,b,c):
    return a+2, b+3, c+4, a+b+c

In [34]:
test6(3,4,6)

(5, 7, 10, 13)

In [39]:
 n =(test6(3,4,6))

In [40]:
n

(5, 7, 10, 13)

In [42]:
a,b,c,d =test6(3,4,6)

In [43]:
a

5

In [44]:
d

13

In [45]:
_,_,_,b =test6(3,4,6)

In [47]:
b

13

In [48]:
def test7(x,y):
    return x+y, x, x**4, x*y

In [49]:
test7(3,4)

(7, 3, 81, 12)

In [50]:
test7(3,4)[2]

81

In [51]:
test7(3,4)[2]/3

27.0

In [52]:
_,_,t,_ =test7(3,4)

In [53]:
t

81

In [55]:
def test8 (b,v,c):
    d =b*v*c
    f =b+v+c+d
    return d,f

In [57]:
a, b= test8(4,5,6)

In [58]:
a

120

In [59]:
b

135

In [60]:
l =['sudh',3,4,5,6,'kumar','a','b',56.45,56,'df','dfsf']

In [61]:
def test9(l):
    c=0
    for i in l:
        if type(i)==str:
            c+=1
    print(c)

In [62]:
test9(l)

6

In [63]:
l =['sudh',3,4,5,6,'kumar',['d','r','f'],'a','b',56.45,56,'df','dfsf']

In [64]:
test9(l)

6

In [69]:
def test9(l):# can write own docstring
    "'this is my function where it will return number of string var available inside list '"
    c=0
    for i in l:
        if type(i)==str:
            c+=1
    return c

In [67]:
test9()

int

In [71]:
def testx(b,c=6):
    return b,c

In [72]:
testx(4)

(4, 6)

In [73]:
def testx(b=10,c=6):
    return b,c

In [77]:
_,v=testx(4)

In [78]:
v

6

In [76]:
testx('sudh','xxx')

('sudh', 'xxx')

In [81]:
def testxx (a,b,c,n,v):
    return'this is my fun'

In [82]:
testxx(2,3,4,5,6)

'this is my fun'

In [83]:
testxx(2,3,4,5,6,7)

TypeError: testxx() takes 5 positional arguments but 6 were given

In [84]:
def test11(*args): # *is a notation which means you can pass any data
    return args

In [85]:
test11(3,4,5,6)

(3, 4, 5, 6)

In [86]:
test11(3,'sudh')

(3, 'sudh')

In [87]:
test11(4,5,6,7,8,'ssss')

(4, 5, 6, 7, 8, 'ssss')

In [90]:
def test12(*args):
    con=''
    for i in args:
        if type(i)==str:
            con =con+i
    return con

In [91]:
test12(4,5,6,6,12,'djkdskjh','dsasa',[3,4,5,6,7])

'djkdskjhdsasa'

In [92]:
def test12(*sand):
    con=''
    for i in sand:
        if type(i)==str:
            con =con+i
    return con

In [93]:
test12(4,5,6,6,12,'djkdskjh','dsasa',[3,4,5,6,7])

'djkdskjhdsasa'

In [94]:
def test13 (*args,a,b,c,d):
    return args,a,b,c,d

In [96]:
test13(3,4,5,6,7, a = 45,b =33,c = 78,d =45)

((3, 4, 5, 6, 7), 45, 33, 78, 45)

In [97]:
def test14(**kwargs):
    return kwargs

In [98]:
test14(34,56,77)

TypeError: test14() takes 0 positional arguments but 3 were given

In [99]:
# Above code didn't work because you have to pass the value as key-value

In [101]:
test14(a =34,b=56,c=77, sudh =56) # by default it will return the type of output as dictionary because dictionary is only one which holds key and value.

{'a': 34, 'b': 56, 'c': 77, 'sudh': 56}

In [103]:
def test14(**kwargs):
    if type(i):
        return kwargs

In [104]:
1/0

ZeroDivisionError: division by zero

In [106]:
try:
    1/0
except Exception as e:
    print(e)
# If I run 1/0 then it will give me error 
# And also if I run 1/0 and then run print('something')
# then also the program will give an error but
# if i use try and except conditions then I can handle those errors
# In above code e is an alias and exception is super class.

division by zero

In [107]:
try:
    1/0
except Exception as e:
    print(e)
try:
    print('this is my prog')
except:
    print('gfsaggd')

division by zero
this is my prog

In [110]:
open('test.txt','w')# w is the write mode and it tries to create file
# if I run program open('test.txt')then it will throw an error to me.
# Because it's not able to find the file.

In [109]:
pwd() # present working directory

'C:\\Users\\visan'

In [112]:
open('test.txt','r')

In [114]:
f = open('test.txt','r')
f.write('this is my first file')
# this program doesn't work because i tried to read the file
# at first and then tried to write.

UnsupportedOperation: not writable

In [115]:
f = open('test.txt','w')
f.write('this is my first file')

21

In [124]:
try:
    f = open('test.txt','r')
    f.write('this is my first file')
except Exception as e:
    print(e)
# exception can be used to see the list of errors.

not writable

In [116]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is F092-7C0F

 Directory of C:\Users\visan

06/17/2019  11:14 AM            31,172  r1.csv
01/24/2022  03:03 PM    <DIR>          .
12/20/2021  12:03 PM    <DIR>          ..
04/02/2019  11:17 AM    <DIR>          .anaconda
01/12/2022  04:06 PM    <DIR>          .atom
07/12/2021  07:13 PM               267 .bash_history
01/12/2022  04:18 PM    <DIR>          .conda
01/10/2022  12:33 PM                43 .condarc
03/27/2020  11:50 AM    <DIR>          .continuum
07/09/2021  07:38 PM                93 .gitconfig
01/24/2022  11:17 AM    <DIR>          .ipynb_checkpoints
04/09/2019  09:06 AM    <DIR>          .ipython
05/20/2021  09:24 AM    <DIR>          .jupyter
12/20/2021  02:01 PM                20 .lesshst
06/10/2020  06:57 PM    <DIR>          .matplotlib
11/15/2021  09:25 AM                19 .popsql.json
03/30/2020  12:33 PM    <DIR>          .PyCharmCE2019.3
08/02/2020  10:34 AM    <DIR>          .spyder-py3
04/07/2020  05:02 AM    <DIR>          .VirtualBox
01/20/2022  12:15 PM    <DIR>          .vscode
10/22/2020  11:01 AM    <DIR>          3D Objects
07/07/2020  05:16 PM    <DIR>          Anaconda3
07/24/2019  09:01 AM             1,274 background_complete.png
12/20/2021  12:14 PM    <DIR>          Contacts
01/23/2022  12:05 PM    <DIR>          Desktop
12/20/2021  12:14 PM    <DIR>          Documents
01/23/2022  11:33 AM    <DIR>          Downloads
08/03/2020  10:07 PM             2,214 exercise1111.ipynb
12/20/2021  12:14 PM    <DIR>          Favorites
01/24/2022  03:03 PM           124,864 ineuron practice.ipynb
03/25/2020  05:04 PM             4,551 iris.data
06/09/2020  08:57 AM            39,456 java_error_in_pycharm_25640.log
12/20/2021  12:14 PM    <DIR>          Links
12/20/2021  12:14 PM    <DIR>          Music
01/23/2022  01:18 PM    <DIR>          OneDrive
12/20/2021  12:14 PM    <DIR>          Pictures
03/25/2020  01:22 PM    <DIR>          PycharmProjects
05/01/2020  11:08 AM           307,644 python notes 1.ipynb
01/24/2022  11:28 AM             4,361 random practice.ipynb
12/20/2021  12:14 PM    <DIR>          Saved Games
06/12/2020  06:24 PM             7,597 ScatterPlot_05.png
06/13/2020  11:23 AM    <DIR>          seaborn-data
12/20/2021  12:14 PM    <DIR>          Searches
09/21/2020  12:17 PM           190,993 second exercise.ipynb
09/22/2020  07:56 AM           268,068 second python exercise.ipynb
06/18/2020  08:24 AM           181,647 Small python Exercise.ipynb
11/23/2020  09:04 AM         2,447,975 Start for the project.ipynb
01/24/2022  03:04 PM                 0 test.txt
11/23/2020  07:42 AM            98,024 test1.ipynb
05/07/2019  07:26 AM                 0 untitled.txt
12/08/2021  01:35 PM               764 Untitled1.ipynb
01/20/2022  12:20 PM             1,764 Untitled2.ipynb
12/20/2021  12:14 PM    <DIR>          Videos
10/06/2019  07:41 PM    <DIR>          VirtualBox VMs
              23 File(s)      3,712,810 bytes
              31 Dir(s)  36,877,377,536 bytes free

In [126]:
try:
    f = open('test.txt','r')
    f.write('this is my first file')
except ZeroDivisionError as e:
    print(e)

UnsupportedOperation: not writable

In [127]:
try:
    f = open('test.txt','r')
    f.write('this is my first file')
except IOError as e:
    print(e)

not writable

In [130]:
try:
    f = open('test.txt','r')# it will run this code
    f.write('this is my first file')# fail here
    a =10/0
except IOError as e:# then directly jump to except case
    print(e)

not writable

In [131]:
try:
    a =10/0 # but this time this code directly gives zerodivision error
    f = open('test.txt','r')
    f.write('this is my first file')
    
except IOError as e:
    print(e)

ZeroDivisionError: division by zero

In [132]:
try:
    a =10/0 # but this time this code directly gives zerodivision error
    f = open('test.txt','r')
    f.write('this is my first file')
    
except IOError as e:
    print(e)
except ZeroDivisionError as e:
    print(e)# we can write multiple except case

division by zero

In [138]:
try:
    a =10/3 
    try:
        f = open('test.txt','r')
        f.write('this is my first file')
    except:
        print ('this is an issue')
    else:
        print('this will be executed once internal try will be executed')
    
except IOError as e:
    print(e)
except ZeroDivisionError as e:
    print('ssd',e)
except Exception as e:
    print('this is my except with exception',e)
else:
    print('this will be executed after a successful execution of try')
    
    
# Remember else statement will only execute if try statement executes successfully

this is an issue
this will be executed after a successful execution of try

In [141]:
try:
    a = int(input())
    print(a/67)
except:
    print('this is my error message')

sdsdsa
this is my error message

In [143]:
a = int(input())
print(a/67)

dsas

ValueError: invalid literal for int() with base 10: 'dsas'

In [144]:
# try and except is therefore necessary so that it will not give an error

In [146]:
try:
    a = int(input())
except:
    print('this is my error msg')
else:
    print('on successful execution of your try block')
finally:# finally is the block which will execute all the time.
    print('it will execute always')

dsf
this is my error msg
it will execute always

In [147]:
def askint():
    try:
        val = int(input('try to input the integer'))
    except Exception as e:
        print(e)
    finally:
        print('this will execute by default')

In [148]:
askint()

try to input the integerdsafff
invalid literal for int() with base 10: 'dsafff'
this will execute by default

### Write a code which repeatedly ask you an integer if you enter wrong input

In [152]:
def askint():
    try:
        integer = int(input('Enter a number '))
        print(a//67)
    except Exception as e:
            askint()

In [153]:
askint()

Enter a number sdds
Enter a number sdd
Enter a number 45
0

In [154]:
def askint():
    try:
        a =int(input('enter an integer'))
    except Exception as e:
        askint()
        print(e)

In [155]:
askint()

enter an integerda
enter an integeradda
enter an integerdaf
enter an integer23
invalid literal for int() with base 10: 'daf'
invalid literal for int() with base 10: 'adda'
invalid literal for int() with base 10: 'da'

In [156]:
def askint():
    try:
        a =int(input('enter an integer'))
    except Exception as e:
        askint()
    finally:
        print('this is my final statement')

In [157]:
askint()

enter an integerddsds
enter an integerdsad
enter an integersdaf
enter an integer34
this is my final statement
this is my final statement
this is my final statement
this is my final statement

In [158]:
5/10

0.5

## How can I be able to create my own exceptions

In [159]:
def raiseexception(a):
    if a<5:
        raise Exception(a)
    return a

In [163]:
raiseexception(4)

Exception: 4

### task 1- Write program to insert integer into a list and if user has entered lesser than 4 then raise your own exception with cusom msg and if user is not entering an integer  then keep asking user to enter the integer all the time, you are suppose to enter 10 such integer with this condition

In [164]:
# def raiseexception(a):
#     if a<4:
#         raise Exception(a)
#         try:

### Use of pandas, numpy...

In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\visan'

In [3]:
df =pd.read_csv('addresses.csv')

In [4]:
df

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US
2,3,3,24 Second Avenue,NaN,San Mateo,CA,94403,US
3,4,4,24 Second Avenue,NaN,San Mateo,CA,94401,US
4,5,5,24 Second Avenue,NaN,San Mateo,CA,94401,US
5,6,6,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
6,7,7,500 Arbor Road,NaN,Menlo Park,CA,94025,US
7,8,8,800 Middle Avenue,NaN,Menlo Park,CA,94025-9881,US
8,9,9,2510 Middlefield Road,NaN,Redwood City,CA,94063,US
9,10,10,1044 Middlefield Road,NaN,Redwood City,CA,94063,US
10,11,11,2140 Euclid Avenue.,NaN,Redwood City,CA,94061,US
11,12,12,1044 Middlefield Road,2nd Floor,Redwood City,CA,94063,US
12,13,13,399 Marine Parkway.,NaN,Redwood City,CA,94065,US
13,14,14,660 Veterans Blvd.,NaN,Redwood City,CA,94063,US
14,15,15,1500 Valencia Street,NaN,San Francisco,CA,94110,US
15,16,16,1161 South Bernardo,NaN,Sunnyvale,CA,94087,US
16,17,17,409 South Spruce Avenue,NaN,South San Francisco,CA,94080,US
17,18,18,114 Fifth Avenue,NaN,Redwood City,CA,94063,US
18,19,19,19 West 39th Avenue,NaN,San Mateo,CA,94403,US
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [5]:
df.head(2)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
0,1,1,2600 Middlefield Road,NaN,Redwood City,CA,94063,US
1,2,2,24 Second Avenue,NaN,San Mateo,CA,94401,US

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.tail(2)

,id,location_id,address_1,address_2,city,state_province,postal_code,country
19,20,21,123 El Camino Real,NaN,Belmont,CA,94002,US
20,21,22,2013 Avenue of the fellows,Suite 100,San Francisco,CA,94103,US

In [8]:
df.columns

Index(['id', 'location_id', 'address_1', 'address_2', 'city', 'state_province',
       'postal_code', 'country'],
      dtype='object')

In [9]:
df[['location_id','city']]

    location_id                 city
0             1         Redwood City
1             2            San Mateo
2             3            San Mateo
3             4            San Mateo
4             5            San Mateo
5             6           Menlo Park
6             7           Menlo Park
7             8           Menlo Park
8             9         Redwood City
9            10         Redwood City
10           11         Redwood City
11           12         Redwood City
12           13         Redwood City
13           14         Redwood City
14           15        San Francisco
15           16            Sunnyvale
16           17  South San Francisco
17           18         Redwood City
18           19            San Mateo
19           21              Belmont
20           22        San Francisco

In [10]:
type(df['location_id'])

pandas.core.series.Series

In [11]:
type(df[['location_id']])

pandas.core.frame.DataFrame

In [12]:
# dataframe is tabular structure data where we can have single or
# multiple columns or rows.
# Series is equivalent to list.
# dataframe is a combination of series

In [13]:
df['location_id'][0::2]# obtainind data at even positions

0      1
2      3
4      5
6      7
8      9
10    11
12    13
14    15
16    17
18    19
20    22
Name: location_id, dtype: int64

In [14]:
df[['location_id']][0:3]

   location_id
0            1
1            2
2            3

In [15]:
df4 =pd.read_excel(r'C:\Users\visan\Desktop\sand excel.xlsx',sheet_name ='sandhya',header =None)

In [16]:
type(df4)

pandas.core.frame.DataFrame

In [17]:
df4.head(2)

        0   1    2
0  jhjhvv NaN  dsd
1     NaN NaN  NaN

In [18]:
df4.tail(10)

         0   1           2
0   jhjhvv NaN         dsd
1      NaN NaN         NaN
2      NaN NaN         NaN
3      NaN NaN         NaN
4  jhjhvbj NaN  saksjdhfad

In [19]:
df4.columns

Int64Index([0, 1, 2], dtype='int64')

In [20]:
pd.read_csv('https://raw.githubusercontent.com/codeforamerica/ohana-api/master/data/sample-csv/programs.csv')

   id  organization_id           name  alternate_name
0   1                1  Defeat Hunger             NaN

In [21]:
df6 =pd.read_html('https://www.basketball-reference.com/leagues/NBA_2016.html')

In [22]:
len(df6)

13

In [23]:
df6[0]

,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS,Unnamed: 8,Unnamed: 9,...,Unnamed: 181,Unnamed: 182,Unnamed: 183,Unnamed: 184,Unnamed: 185,Unnamed: 186,Unnamed: 187,Unnamed: 188,Unnamed: 189,Unnamed: 190
0,Cleveland Cavaliers*,57,25.0,0.695,—,104.300,98.3,5.45,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Toronto Raptors*,56,26.0,0.683,1.0,102.700,98.2,4.08,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Miami Heat*,48,34.0,0.585,9.0,100.000,98.4,1.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Atlanta Hawks*,48,34.0,0.585,9.0,102.800,99.2,3.49,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Boston Celtics*,48,34.0,0.585,9.0,105.700,102.5,2.84,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Charlotte Hornets*,48,34.0,0.585,9.0,103.400,100.7,2.36,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Indiana Pacers*,45,37.0,0.549,12.0,102.200,100.5,1.62,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Detroit Pistons*,44,38.0,0.537,13.0,102.000,101.4,0.43,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Chicago Bulls,42,40.0,0.512,15.0,101.600,103.1,-1.46,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Washington Wizards,41,41.0,0.500,16.0,104.100,104.6,-0.50,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Orlando Magic,35,47.0,0.427,22.0,102.100,103.7,-1.68,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Milwaukee Bucks,33,49.0,0.402,24.0,99.000,103.2,-3.98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,New York Knicks,32,50.0,0.390,25.0,98.400,101.1,-2.74,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brooklyn Nets,21,61.0,0.256,36.0,98.600,106.0,-7.12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Philadelphia 76ers,10,72.0,0.122,47.0,97.400,107.6,-9.92,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,League Average,82,241.8,38.200,84.6,0.452,8.5,24.10,0.354,29.7,...,0.836,NaN,0.048,304.0,NaN,0.251,982.0,NaN,0.248,0.377

In [24]:
df6[0].to_csv(r'C:\Users\visan\Desktop\test1.csv')

In [25]:
df.dtypes# dtypes is data types
# object data type is equivalent to string

id                 int64
location_id        int64
address_1         object
address_2         object
city              object
state_province    object
postal_code       object
country           object
dtype: object

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 8 columns):
id                21 non-null int64
location_id       21 non-null int64
address_1         21 non-null object
address_2         2 non-null object
city              21 non-null object
state_province    21 non-null object
postal_code       21 non-null object
country           21 non-null object
dtypes: int64(2), object(6)
memory usage: 1.4+ KB