## Split method (reversing the words)
Input :'my.name.is.sandhya'

Output :'sandhya.is.name.my'

In [10]:
string ='my.name.is.sandhya'
stri=string.split('.')
rev =stri[::-1]
joi ='.'.join(rev)
joi
#string

'sandhya.is.name.my'

### A = '25+26+7+1'
Find the average of numbers in above string.

In [25]:

A = '25+26+7+1'
spli= A.split('+')
spli

['25', '26', '7', '1']

In [27]:
summ =0
for i in spli:
    #print(i)
    summ =summ+int(i)
average =summ/len(spli)
average

14.75

## A = '25.0+26.0+7+1'

In [33]:
A = '25.0+26.0+7+1'
spli= A.split('+')
spli

['25.0', '26.0', '7', '1']

In [35]:
summ =0
for i in spli:
    #print(float(i))
    summ =summ+float(i)
average =summ/len(spli)
average

14.75

## Find the missing number from the list if the range is given from 1 to 10:

In [36]:
Gopal = [6,8,9,10]
for i in range (1,11):
    if i not in Gopal:
        print(i)

1
2
3
4
5
7

## Find which year is leap and which not between 2020 to 2026

In [37]:
# leap_year=366
# n_leap_year=365
for i in range(2020,2027):
    if i%4==0:
        print('year is leap year',i)
    else:
        print('year is not leap year',i)

year is leap year 2020
year is not leap year 2021
year is not leap year 2022
year is not leap year 2023
year is leap year 2024
year is not leap year 2025
year is not leap year 2026

## Find the total sum of days between 2020 to 2026

In [40]:
summ =0
for i in range(2020,2027):
    if i%4==0:
        summ =summ+366
    else:
        summ =summ+365
print(summ)

2557

## Find the length of duplicate elements.
Sandy = 'I am good girl I am very good girl I love Europe I love Japan'

In [46]:
Sandy = 'I am good girl I am very good girl I love Europe I love Japan'
sandy=Sandy.split(' ')
length = len(sandy)-len(set(sandy))

In [47]:
length

7

## Write a Python program to swap first and last element of the list.
Input : [12, 35, 9, 56, 24]

Output : [24, 35, 9, 56, 12]

In [76]:
Input= [12, 35, 9, 56, 24]

In [79]:
Input[0],Input[-1]=Input[-1],Input[0]
#Input[-1]=Input[0]

In [80]:
Input

[24, 35, 9, 56, 12]

In [81]:
## Extracting first and last elements using list comprehension
for i in (0,-1):
    print(Input[i])

24
12

### Input : [['x', 'y'], ['a', 'b'], ['m', 'n']]

### Output : [['x', 'a', 'm'], ['y', 'b', 'n']]

In [87]:
lis = [['x', 'y'], ['a', 'b'], ['m', 'n']]
for i in list(zip(*lis)):
    print(list(i))

['x', 'a', 'm']
['y', 'b', 'n']

In [91]:
list(zip(lis))

[(['x', 'y'],), (['a', 'b'],), (['m', 'n'],)]

In [92]:
list(zip(*lis))

[('x', 'a', 'm'), ('y', 'b', 'n')]

## Python Program to check if a string is a palindrome or not.

In [6]:
string = input('Enter a string ')
if string == string[::-1]:
    print('string is palindrome')
else:
    print('string is not a palindrome')

Enter a string amaama
string is palindrome

In [3]:
list = [4,5,6,6,77,7]

In [5]:
list[::-1]

[7, 77, 6, 6, 5, 4]

## Reverse words in a given String in Python

Input : str = geeks quiz practice code

Output : str = code practice quiz geeks

In [18]:
string = 'geeks quiz practice code'
split_string =string.split(' ')
reverse_string =split_string[::-1]
join_reverse_string = ' '.join(reverse_string)
join_reverse_string

'code practice quiz geeks'

In [15]:
OR 
def reversed_sentence(string):
    split_string =string.split(' ')
    join_reverse_string = ' '.join(reverse_string)
    return join_reverse_string

In [16]:
reversed_sentence(string)

'code practice quiz geeks'

## Length of a string

In [23]:
string = 'a,b,c'
len(string)

5

In [26]:
#OR 
def counter(string):
    counter = 0
    for i in string:
        counter +=1
    return counter

In [25]:
counter(string)

5

## find the average word length in the statement.

In [1]:

stat="my name is ram, i am working here since 2014. My fav symbol is ?"
for i in ',.?':
    stat = stat.replace(i,'')

In [2]:
print(stat)

my name is ram i am working here since 2014 My fav symbol is

In [3]:
stat_1 =stat.split()
stat_1

['my',
 'name',
 'is',
 'ram',
 'i',
 'am',
 'working',
 'here',
 'since',
 '2014',
 'My',
 'fav',
 'symbol',
 'is']

In [4]:
len(stat_1)

14

In [5]:
len(stat_1[0])

2

In [8]:
summ =0
for i in stat_1:
    summ = summ+len(i)
print(round(summ/len(stat_1),2))

3.36

In [7]:
# Write the same logic with the help of the function
# def average(stat):
#     [stat = stat.replace(i,'') for ]

## Extract the number from the string

In [67]:
c="hhjhsu1ds5sdfd4s2df9ds1s0fiun635"
for i in c:
    if i.isnumeric():# logic is if True print(i)
        print(i, end=' ')

1 5 4 2 9 1 0 6 3 5

## write a program to rotate the element to the left :
    
a=[1,2,3,4,5,6,7,8,9,10]

b = [5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

In [94]:
a=[1,2,3,4,5,6,7,8,9,10]
for i in range(4):
    b =a.pop(0)
    a.append(b)
print(a)

[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

## According to Gopal's logic.

In [ ]:
stat="my name is ram, i am working here since 2014. My fav symbol is ?"

def avg(sentence):
    for i in ",?./":
        sentence=sentence.replace(i,'')
    a=sentence.split()
    return round(sum(len(words) for words in a)/len(a),2)

avg(stat)

In [ ]:
c="hhjhsu1ds5sdfd4s2df9ds1s0fiun635"
d=[]
for i in c:
    if i.isdigit():
        d.append(i)
print("".join(d))

## Print the table of 3

In [103]:
for i in range(1,11):
    print(3,'*',i,'=',3*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

## Print table of 5 defining function

In [106]:
def multiple(num):
    for i in range(1,11):
        print(num,'*',i,'=',num*i)

In [108]:
multiple(6)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

## factorial of 4

In [119]:
fact =1
for i in range(4,1,-1):
    #print(i)
    fact = fact*i
fact

24

In [128]:

def factorial(num):
    fact =1
    for i in range(num,1,-1):
        fact = fact*i
    return fact

In [130]:
factorial(6)

720

## Find the second highest number from the list

In [1]:
lst =[33,78,183,445,3,6,445]
lst =list(set(lst))
lst.sort()
lst

[3, 6, 33, 78, 183, 445]

In [2]:
lst.pop(-1)
max(lst)

183

## string="i_am_SanDhya_Iam_veryBeAutiFul"

change _ to . and lower letter to upper and upper to lower

In [21]:
string="i_am_SanDhya_Iam_veryBeAutiFul"
string.split('_')
string_join= '.'.join(string.split('_'))
string_join

'i.am.SanDhya.Iam.veryBeAutiFul'

In [28]:
string_empty=''
for char in string_join:
    if char.isupper():
        string_empty=string_empty+char.lower()
        #print(char.lower())
    else:
        string_empty=string_empty+char.upper()
        #print(char.upper())
print(string_empty)

I.AM.sANdHYA.iAM.VERYbEaUTIfUL

## Find the sum of digits of a number
e = 7945

In [44]:
e = 7945
summ =0
for i in str(e):
    summ =summ+int(i)
print(summ)

25

## Python program to print even numbers in a list

In [47]:
lst=[1,2,3,4,5,5,77,6,88,96,5,7,9]
for i in lst:
    if i%2==0:
        print(i)

2
4
6
88
96

In [48]:
for i in lst:# for odd numbers
    if i%2!=0:
        print(i)

1
3
5
5
77
5
7
9

## Python program to find Cumulative sum of a list

lst=[1,2,3,4,5,6,7,8,9]

Ouput : sum of lst_1=[1,3,6,10,15,21,28,36,45]

In [49]:
lst=[1,2,3,4,5,6,7,8,9]
# to import
lst_1=[1,3,6,10,15,21,28,36,45]

In [51]:
sum(lst_1)

165

In [55]:
summ =0
lst_1=[]
for i in lst:
    summ = summ+i
    lst_1.append(summ)
print(lst_1)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

## Remove the fruits from lis_2 if they are present in lis_1

lis_1 =['apple','banana','orange','pineapple','mango']

lis_2=['apple','onion','garlic','mango','banana']

In [29]:
lis_1 =['apple','banana','orange','pineapple','mango']
lis_2=['apple','onion','garlic','mango','banana']

In [30]:
for fruits in lis_1:
    if fruits in lis_2:
        #print(fruits)
        lis_2.remove(fruits)

In [31]:
print(lis_2)

['onion', 'garlic']

## Transfer fruits from lis_1 to lis_2 until the amount in list2 becomes more or equal to the amount in list1

In [38]:
while len(lis_1)>len(lis_2):
    var =lis_1.pop()
    #if len(lis_2)>=len(lis_1[i]):
    lis_2.append(var)

In [39]:
print(lis_2)

['onion', 'garlic', 'mango', 'pineapple']

## Python program to check if a string is palindrome or not

In [62]:
string='malayalam'
string_rev =string[::-1]
if string==string_rev:
    print('string is palindrome')
else:
    print('string is not palindrome')

string is palindrome

In [61]:
string='sandhya'
string_rev =string[::-1]
if string==string_rev:
    print('string is palindrome')
else:
    print('string is not palindrome')

string is not palindrome

## Python program to accept the strings which contains all vowels

In [63]:
string ='cauliflower'
vowels ='aeiouAEIOU'
for i in vowels:
    if i in string:
        print('vowels present',i)
    else:
        pass

vowels present a
vowels present e
vowels present i
vowels present o
vowels present u

In [64]:
string ='elephant'
for i in vowels:
    if i in string:
        print('vowels present',i)
    else:
        pass

vowels present a
vowels present e

## Find words which are greater than given length k=4
string ='Our school building is made of bricks'

In [77]:
string ='Our school building is made of bricks'
string_spl= string.split()
for i in string_spl:
    if len(i)>=4:
        print(i)
    else:
        pass

school
building
made
bricks

In [82]:
[len(i)>=4 for i in string.split()]

[True]

## Remove all duplicates from a given string in Python

In [79]:
string ='repetition'
set(string)

{'e', 'i', 'n', 'o', 'p', 'r', 't'}

## Program to check if a string contains any special character.

In [83]:
variable ='@$45ghtjks%&ajagduug'
#for i in variable:
    #if

In [99]:
for i in variable:
    if i in '$%@&':
        print('special character found',i)
    else:
        print('string does not contain special characters')

special character found @
special character found $
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
special character found %
special character found &
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters
string does not contain special characters


##  First word should be lower and second should be upper and so on.

"hdsySDGF SanDhYa hduhf JHIUHIUDHJB jJHbb beST"

In [117]:
string ="hdsySDGF SanDhYa hduhf JHIUHIUDHJB jJHbb beST"
string_split =string .split()
string_split

['hdsySDGF', 'SanDhYa', 'hduhf', 'JHIUHIUDHJB', 'jJHbb', 'beST']

In [112]:

for i,j in enumerate(string_split):
    #print(i,j)
    if i%2==0:
        string_split[i]=j.upper()
        print(string_split[i])
    else:
        string_split[i]=j.lower()
         
#string_split

HDSYSDGF
HDUHF
JJHBB

['HDSYSDGF', 'sandhya', 'HDUHF', 'jhiuhiudhjb', 'JJHBB', 'best']

OR

In [118]:
for i in range(0,6,2):
    string_split[i]=string_split[i].upper()

In [120]:
for i in range(1,6,2):
    string_split[i]=string_split[i].lower()

In [121]:
print(string_split)

['HDSYSDGF', 'sandhya', 'HDUHF', 'jhiuhiudhjb', 'JJHBB', 'best']


## list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

Change the element 35 to 3500
OUTput : [5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

In [127]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
for i in list1:
    print(i)

5
[10, 15, [20, 25, [30, 35], 40], 45]
50

In [134]:
list1[1][2][2][1]=3500

In [135]:
list1

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

## str = 'My Name is Jessa'

### output:  yM emaN si asseJ

In [166]:
string = 'My Name is Jessa'
stri =string.split()
print(stri)

['My', 'Name', 'is', 'Jessa']

In [172]:
for i in range(0,4):
    stri[i]=stri[i][::-1]

In [173]:
stri

['yM', 'emaN', 'si', 'asseJ']

## list1 = ["M", "na", "i", "Ke"]

## list2 = ["y", "me", "s", "lly"]

### output: ['My', 'name', 'is', 'Kelly']

In [183]:
lis=[]
list1 = ["M", "na", "i", "Ke"]
list2 = ["y", "me", "s", "lly"]
for i,j in zip(list1,list2):
    lis.append(i+j)
    
# new = zip(list1,list2)
# list(new)

In [184]:
lis

['My', 'name', 'is', 'Kelly']

## list1 = [10, 20, 30, 40]
## list2 = [100, 200, 300, 400]

### Output -
10 400

20 300

30 200

40 100

In [187]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
for i,j in zip(list1,list2[::-1]):
    print(i,j)

10 400
20 300
30 200
40 100

## list1 = [5, 20, 15, 20, 25, 50, 20]
### Given a Python list, write a program to remove all occurrences of item 20.

In [198]:
list1 = [5, 20, 15, 20, 25, 50, 20]
xx =set(list1)
xx.remove(20)
print(xx)

{5, 15, 50, 25}

In [199]:
def fun(list1,num):
    for i in list1:
        if i==num:
            list1.remove(i)
    return list1

In [200]:
fun(list1,20)

[5, 15, 25, 50]