## Convert two lists into a dictionary

keys = ['Ten', 'Twenty', 'Thirty']

values = [10, 20, 30]

In [3]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
dictionary= dict(zip(keys,values))
dictionary

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

## Merge two Python dictionaries into one

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}

dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [6]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
dict3= {}
dict3.update(dict1)
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [7]:
dict3.update(dict2)
dict3

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Print the value of key ‘history’ from the below dict

sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70, "history": 80 }}}}

Expected output:80

In [17]:
sampleDict = {"class": {"student": {"name": "Mike","marks": {"physics": 70, "history": 80 }}}}
sampleDict['class']['student']['marks']['history']

80

## Initialize dictionary with default values

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

Expected output: {'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [21]:
employees = ['Kelly', 'Emma'] 
defaults = {"designation": 'Developer', "salary": 8000}
new_func=dict.fromkeys(employees,defaults)
print(new_func)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

### Create a dictionary by extracting the keys from a given dictionary.Write a Python program to create a new dictionary by extracting the mentioned keys from the below dictionary.

sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}

#### Keys to extract
keys = ["name", "salary"]

In [32]:
new_dict={}
sample_dict = { "name": "Kelly", "age": 25, "salary": 8000, "city": "New york"}
keys =['name','salary']
for i in keys:#
    new_dict.update({i:sample_dict[i]})
    print(sample_dict[i])

Kelly
8000

In [30]:
new_dict

{'name': 'Kelly', 'salary': 8000}

In [31]:
new_dict.keys()

dict_keys(['name', 'salary'])

## Check if a value exists in a dictionary

sample_dict = {'a': 100, 'b': 200, 'c': 300}

Expected output: 200 present in a dict

In [37]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
for i in sample_dict.values():
    #print(i)
    if i ==200:
        print('200 present in a dict')

200 present in a dict

In [38]:
# OR
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

## Write a program to rename a key city to a location in the following dictionary.

sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

Expected output:

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [39]:
sample_dict = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york" }
sample_dict['location']=sample_dict['city']

In [40]:
sample_dict

{'name': 'Kelly',
 'age': 25,
 'salary': 8000,
 'city': 'New york',
 'location': 'New york'}

In [42]:
sample_dict.pop('city')

'New york'

In [43]:
sample_dict

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [44]:
#OR
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

sample_dict['location'] = sample_dict.pop('city')
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

## Get the key of a minimum value from the following dictionary
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

Expected output: Math

In [45]:
sample_dict = { 'Physics': 82, 'Math': 65, 'history': 75 }
min(sample_dict)

'Math'

## Write a Python program to change Brad’s salary to 8500 in the following dictionary.

sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

Expected output:

{
   'emp1': {'name': 'Jhon', 'salary': 7500},
   'emp2': {'name': 'Emma', 'salary': 8000},
   'emp3': {'name': 'Brad', 'salary': 8500}
}

In [50]:
sample_dict = { 'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 500} }
sample_dict['emp3']['salary']=8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

## Exercise 1: Reverse the tuple

In [1]:
tuple1 = (10, 20, 30, 40, 50)
tuple1[::-1]

(50, 40, 30, 20, 10)

## Exercise 2: Access value 20 from the tuple

In [6]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple1[1][1]

20

In [9]:
tuple1[1][1]=50

In [10]:
tuple1

('Orange', [10, 50, 30], (5, 15, 25))

## Exercise 3: Create a tuple with single item 50

In [18]:
tuple1=(20)

In [19]:
type(tuple1)

int

In [16]:
tuple1=(50,)

In [17]:
type(tuple1)

tuple

In [20]:
#or
tuple2=50,

In [21]:
type(tuple2)

tuple

## Exercise 4: Unpack the tuple into 4 variables

In [23]:
tuple1 = (10, 20, 30, 40)
a,b,c,d =tuple1[0],tuple1[1],tuple1[2],tuple1[3]

In [24]:
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [25]:
#OR
a,b,c,d =tuple1

In [26]:
print(a)
print(b)
print(c)
print(d)

10
20
30
40

In [27]:
a,b,c =tuple1

ValueError: too many values to unpack (expected 3)

## Exercise 5: Swap two tuples in Python

In [28]:
tuple1 = (11, 22)
tuple2 = (99, 88)
tuple1,tuple2=tuple2,tuple1

In [29]:
tuple1

(99, 88)

In [30]:
tuple2

(11, 22)

## Exercise 6: Copy specific elements from one tuple to a new tuple

tuple1 = (11, 22, 33, 44, 55, 66)
Expected output:

tuple2: (44, 55)

In [33]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple1=list(tuple1)
tuple1
# tuple1=()
# tuple1[0]=44

[11, 22, 33, 44, 55, 66]

In [36]:
lis=[]
lis.append(tuple1[3])
lis.append(tuple1[4])

In [37]:
lis

[44, 55]

In [38]:
tuple(lis)

(44, 55)

In [39]:
# OR
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:-1]
print(tuple2)

(44, 55)

## Exercise 7: Modify the tuple

tuple1 = (11, [22, 33], 44, 55)

Expected output:

tuple1: (11, [222, 33], 44, 55)

In [40]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0]=222

In [41]:
tuple1

(11, [222, 33], 44, 55)

## Exercise 8: Sort a tuple of tuples by 2nd item
    
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

Expected output:

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [42]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))
tuple2=list(tuple1)
tuple2[::-1]

[('d', 29), ('c', 11), ('b', 37), ('a', 23)]

In [49]:
lis=[]
for i,j in tuple2:
    #print(i,j)
    lis.append((j,i))
print(lis)

[(23, 'a'), (37, 'b'), (11, 'c'), (29, 'd')]

In [50]:
lis.sort()

In [53]:
lis

[(11, 'c'), (23, 'a'), (29, 'd'), (37, 'b')]

In [55]:
lis1=[]
for i,j in lis:
    #print(i,j)
    lis1.append((j,i))
print(lis1)

[('c', 11), ('a', 23), ('d', 29), ('b', 37)]

In [56]:
# OR
# sorted takes two parameters
# sorted will take your elements in ascending order
tuple1 = (('a', 23), ('b', 37), ('c', 11), ('d', 29))
tuple1 = tuple(sorted(list(tuple1), key=lambda x: x[1]))
print(tuple1)

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [58]:
sorted(list(tuple1))

[('a', 23), ('b', 37), ('c', 11), ('d', 29)]

## Exercise 9: Counts the number of occurrences of item 50 from a tuple

In [64]:
tuple1 = (50, 10, 60, 70, 50)
tuple1.count(50)

2

## Exercise 10: Check if all items in the tuple are the same

In [67]:
tuple1 = (45, 45, 45, 45)
for i in tuple1:
    if i==tuple1[0]:
        print('elements are present')

elements are present
elements are present
elements are present
elements are present

In [68]:
aTuple = (100,)
print(aTuple * 2)

(100, 100)

In [69]:
tuple1 = (1120, 'a')
print(max(tuple1))

TypeError: '>' not supported between instances of 'str' and 'int'

In [70]:
aTuple = "Yellow", 20, "Red"
a, b, c = aTuple
print(a)

Yellow

In [71]:
aTuple = ("Orange")
print(type(aTuple))

<class 'str'>

In [72]:
aTuple = (100, 200, 300, 400, 500)
aTuple.pop(2)
print(aTuple)

AttributeError: 'tuple' object has no attribute 'pop'

In [75]:
print(aTuple[-2])
print(aTuple[-4:-1])# start,stop

400
(200, 300, 400)