## Lambda function
aka anonymous function; a function with no name

In [1]:
def add(a,b):
    return a+b

In [2]:
add(4,5)

9

In [3]:
addition =lambda a,b:a+b

In [4]:
addition(12,14)

26

In [5]:
def even(num):
    if num%2==0:
        return True

In [6]:
even(24)

True

In [8]:
even1 =lambda a:a%2==0

In [9]:
even1(2)

True

In [10]:
def addition (x,y,z):
    return x+y+z

In [11]:
addition(2,3,4)

9

In [12]:
addition =lambda x,y,z:x+y+z

In [13]:
addition(2,3,4)

9

## Map function in Python

In [14]:
def even_or_odd(num):
    if num%2==0:
        return 'The number {} is Even'.format(num)
    else:
        return 'The number{} is odd'.format(num)

In [15]:
even_or_odd(46)

'The number 46 is Even'

In [16]:
lst =[1,2,3,4,2,22,455,234]

In [17]:
list(map(even_or_odd,lst))

['The number1 is odd',
 'The number 2 is Even',
 'The number3 is odd',
 'The number 4 is Even',
 'The number 2 is Even',
 'The number 22 is Even',
 'The number455 is odd',
 'The number 234 is Even']

## Filter functions in Python

In [20]:
def even(num):
    if num%2==0:
        return True

In [21]:
lst=[1,2,3,3,4,5,6,4,3,4]

In [22]:
list(filter(even,lst))

[2, 4, 6, 4, 4]

In [23]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6, 4, 4]

In [24]:
list(map(lambda num:num%2==0,lst))

[False, True, False, False, True, False, True, True, False, True]

## List comprehension
It provides a concise way to create lists. It consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The expressions can be anything, meaning you can put in all kinds of objects in lists.

In [9]:
lst1=[]
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [10]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [11]:
# In above code we have written multiple lines of codes but with the
# help of list comprehension we can complete it in a single line

In [13]:
lst =[1,2,3,4,5,6,7]

In [14]:
[i*i for i in lst]

[1, 4, 9, 16, 25, 36, 49]

In [15]:
# square of only even numbers
[i*i for i in lst if i%2==0]

[4, 16, 36]

In [16]:
# square of only odd numbers
[i*i for i in lst if i%2!=0]

[1, 9, 25, 49]

## String Formatting in Python

In [17]:
print('hello everyone')

hello everyone

In [25]:
def greeting(name):
    return 'Hello {}. Welcome to the community'.format(name)

In [26]:
greeting('Sandhya')

'Hello Sandhya. Welcome to the community'

In [29]:
def welcome_email(name,age):
    return 'welcome {}. Your age is {}'.format(name,age)

In [30]:
welcome_email('Sandhya',25)

'welcome Sandhya. Your age is 25'

In [39]:
def welcome_email(name,age):
    return 'welcome {name}. Your age is {age}'.format(age=age,name=name)

In [40]:
welcome_email('Sandhya',25)

'welcome Sandhya. Your age is 25'

In [42]:
def welcome_email(name,age):
    return 'welcome {name1}. Your age is {age1}'.format(age1=age,name1=name)

In [43]:
welcome_email('Sandhya',25)

'welcome Sandhya. Your age is 25'

## Python iterables and Iterators

In [44]:
lst =[1,3,4,5,6]
for i in lst:
    print(i)

1
3
4
5
6

In [45]:
#Since I can iterate all the elements of list we can call List as an iterable

In [64]:
lst1=iter(lst)# to make iterable to iterator

### Properties of iterator and iterable
As soon as you initialize a list, all the values are saved in a memory. This is one property of iterator. Whereas in case of iterable, all the values are not stored in memory or initialize in the memory location. As soon as we call a function 'next' then only the value is initialized in the memory.

In [65]:
lst1

In [59]:
# But we cannot see each and every values. so for that we have to use
# 'next' function

In [60]:
next(lst1)# this is one way to see values in iterator.

1

In [66]:
for i in lst1:
    print(i)

1
3
4
5
6

### why do we use iterator?
Suppose your list is having million of elements and as you initialize the elements in the list,each and every element  will get stored into some memory and of course that much memory is needed to store the elements. but if I convert the list into iterator then I can save the memory, Until unless I call that particular element(with the help of 'next' function or for loop, e.g., as above) it will not get initialize into the memory.

## OOPS Tutorial in Python

What is class?

Class is real-world objects. For e.g., car is real world example. Inside car, you have different attributes like windows, door etc. We can also define some functions inside the car like car is used for driving purpose and while driving car has different speeds. 
In short, class is a real world objects which have some properties, attributes and functions.

In [67]:
class Car:
    pass # in order to make class car empty or not defining any property of car, we use pass.

In [68]:
car1 =Car()

In [69]:
car1

In [70]:
car1.windows =5
car1.doors=4

In [71]:
car1.windows

5

In [72]:
car2 = Car()

In [73]:
car2.windows=3
car2.doors =2

In [74]:
print(car2.windows)

3

#### You see how bad the code looks like. Meaning we are defining the different classes of car differently and it is time consuming. So, instead we have an in-built function called '__init__'  which can reduce our work load.

In [75]:
dir (car1)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'doors',
 'windows']

In [78]:
class Car:
    def __init__(self,window,door,enginetype):
        self.windows= window
        self.doors =door
        self.enginetype=enginetype

In [88]:
car1 =Car(4,5,'petrol')

In [80]:
car2 = Car(3,4,'diesel')

In [83]:
print(car1.enginetype)

petrol

In [89]:
class Car:
    def __init__(self,window,door,enginetype):
        self.windows= window
        self.doors =door
        self.enginetype=enginetype
    def self_driving(self):
        return 'This is a {} car'.format(self.enginetype)

In [90]:
car1.self_driving()

'This is a petrol car'

In [110]:
class Human:
    def __init__(self,name,occupation):
        self.names= name
        self.occupations =occupation

In [111]:
human1= Human('Sandhya','teacher')

In [113]:
print(human1.occupations)

teacher

## Python Exception Handling

In [1]:
a =b

NameError: name 'b' is not defined

The above error suggests that you have defined such a variable which is already not defined. If a developer sees such error he will know the error but a person who is not a developer will obviously not understand. In such case you will need exception handling.

In [115]:
try: 
    a =b # code block where exception can occur
except:
    print('Some problem may have occured')

Some problem may have occured

Still above code doesn't explain what problem has been created here. So, in order to figure out that we will implement following code:

In [117]:
try: 
    a =b # code block where exception can occur
except Exception as ex:
    print(ex) # we will get same NameError as above.

name 'b' is not defined

In [119]:
try: 
    a =b # code block where exception can occur
except NameError as ex1:# the exception will be cut here and print will be printed.
    print('The user has not defined the variable ')
except Exception as ex:
    print(ex)

The user has not defined the variable

In [121]:
try: 
    a =1 
    b ='s'
    c =a+b
except NameError :
    print('The user has not defined the variable ')
except TypeError :
    print('Try to make the datatype similar ')
except Exception as ex:
    print(ex)

Try to make the datatype similar

In [127]:
try: 
    a =int(input('Enter the number 1')) 
    b =int(input('Enter a number 2'))
    c =a/b
    d = a*b
    e =a+b
    print(c)
    print(d)
    print(e)
except NameError :
    print('The user has not defined the variable ')
except ZeroDivisionError :
    print('Please enter the number greater than zero ')
except Exception as ex:
    print(ex) # by default this exception happens anyway but try to give logical meassage to
    # because front-end workers are not aware of it.

Enter the number 112
Enter a number 20
Please enter the number greater than zero

## Try- else

In [128]:
try: 
    a =int(input('Enter the number 1')) 
    b =int(input('Enter a number 2'))
    c =a/b
    d = a*b
    e =a+b
except NameError :
    print('The user has not defined the variable ')
except ZeroDivisionError :
    print('Please enter the number greater than zero ')
except Exception as ex:
    print(ex)
else:
    print(c)
    print(d)
    print(e)
    # Since if you enter non-zero numbers then else block will be executed.

Enter the number 11
Enter a number 22
0.5
2
3

## Try else finally

In [129]:
try: 
    a =int(input('Enter the number 1')) 
    b =int(input('Enter a number 2'))
    c =a/b
    d = a*b
    e =a+b
except NameError :
    print('The user has not defined the variable ')
except ZeroDivisionError :
    print('Please enter the number greater than zero ')
except Exception as ex:
    print(ex)
else:
    print(c)
finally:
    print('The execution is done')
# finally block always gets executed.

Enter the number 112
Enter a number 24
3.0
The execution is done

##  Why we are using finally block?

We are connecting to a database for performing some kind of operations.We are using try else finally code to implement the operations. If there, some exception is caught then my except block will handle it but remember that database is still open because we have made a connection request. So, now we can use this finally clause basically to close the database. We cannot use else block. If we don't have finally block then it will basically come out of the database without closing the database.

In [2]:
try:
    a = b
except NameError:
    print('try to give logical definition to element b')

try to give logical definition to element b

## A = '25.0+26.0+7+1'

In [39]:
elements =[float(i) for i in A.split('+')]

In [40]:
elements

[25.0, 26.0, 7.0, 1.0]

In [41]:
summ =0
for i in elements:
    summ= summ+i
    #print(summ)
average = summ /len(elements)

In [42]:
average

14.75

## Find the missing number from the list if the range is given from 1 to 10:

In [52]:
Gopal = [6,8,9,10]
for i in range(1,11):
        if i not in Gopal:
            print(i)

1
2
3
4
5
7

## Find the total sum of days between 2020 to 2026

In [53]:
#leap_year =366
#non_leap_year =365
#if 2020%4==0:# leap year find

In [67]:
summ =0
for i in range(2020,2027):
    if i%4==0:
        summ =366+summ
        #print('leap year',i,'has',summ,'days')
    else:
        summ =365+summ
        #print(i)
        #print('non- leap year',i)
        #print('non- leap year',i,'has',summ,'days')
print(summ)

2557

In [70]:
names = ['Chris', 'Jack', 'John', 'Daman']
print(names[-1][-1])

n

## Find the duplicate elements.

In [79]:

Sandy = 'I am good girl I am very good girl I love Europe I love Japan'
Sandy_split = Sandy.split( )
#Sandy_split    
len(Sandy_split)- len(set(Sandy_split))

7

## Write a Python program to swap first and last element of the list.

Input : [12, 35, 9, 56, 24]

Output : [24, 35, 9, 56, 12]

In [2]:
elements = [12, 35, 9, 56, 24]
def swaplist(elements):
    a,*b,c= elements
    elements = [c,*b,a]
    return elements
# print(a)
# print(b)
# print(c)

In [93]:
print(swaplist(elements))

[24, 35, 9, 56, 12]

In [94]:
#or
def swap(elements):
    elements[0], elements[-1]=elements[-1],elements[0]
    return elements

In [95]:
swaplist(elements)

[24, 35, 9, 56, 12]

In [3]:
## Extracting first and last elements using list comprehension
res = [elements[i] for i in (0,-1)]
print(res)

[12, 24]

## Merge first and last elements separately in a list

Input : [['x', 'y'], ['a', 'b'], ['m', 'n']]
    
Output : [['x', 'a', 'm'], ['y', 'b', 'n']]

In [103]:
lst =[['x', 'y'], ['a', 'b'], ['m', 'n']]
def merge(lst):
    return [list(i) for i in list(zip(*lst))]
# zip function tries to take the first element of first list and first element of second list and paired it in a single list
# and so for other elements.

In [104]:
print(merge(lst))

[['x', 'a', 'm'], ['y', 'b', 'n']]

## Find the maximum of two numbers

In [109]:
a=44
b =43
def maximum(a,b):
    if a>=b:
        print(a)
    else:
        print(b)

In [110]:
maximum(a,b)

44

In [111]:
print(max(a,b))

44