In [2]:
#In order to connect with mysql first install
!pip install mysql-connector-python
# Since I used anaconda prompt for installation, I didn't use exclamatory sign

Requirement already satisfied: mysql-connector-python in c:\users\visan\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\visan\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.4)

In [3]:
import mysql.connector as conn

## First part is to connect python with mysql

In [16]:
mydb=conn.connect(host ='localhost',user ='root',passwd='password')
# Since it's my local work I have given user name as root
# but if I work for company then they gonna give me username

In [17]:
mydb

In [18]:
# if i want to know what kind of databases i have then
query ='show databases'

In [19]:
cursor=mydb.cursor()
cursor.execute(query)

In [20]:
# now we can see all databases which are in db of mysql
# just go to mysql interface and type show databases and execute
# you will find the same databases as here.
cursor.fetchall()

[('giraffe',),
 ('girrafe',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sandhya',),
 ('sys',),
 ('testineuron',),
 ('world',)]

In [13]:
# to create database inside mysql 
cursor =mydb.cursor()
cursor.execute('create database testineuron')

In [28]:
mydb.close()# I can close my connection at any time

In [30]:
mydb.is_connected()

False

In [31]:
# In order to again open my connection use
mydb=conn.connect(host ='localhost',user ='root',passwd='password',database ='testineuron')

In [32]:
mydb.is_connected()

True

In [46]:
# I want to create a table
query ='create table testineuron.ineuron2(studentid INT(10), firstname VARCHAR(20), lastname VARCHAR(30), registrationdate DATE, classname VARCHAR(60), sectionname VARCHAR(30))'

In [47]:
cursor =mydb.cursor()
cursor.execute(query)

In [48]:
# if I have to see a table inside from the database
# connection is already ready from above
cursor = mydb.cursor()
cursor.execute('show tables')

In [49]:
cursor.fetchall()
# don't get confuse with ineuron, ineuron1 and ineuron2
# meaning in above line you see only ineuron2, so you kind of get confuse
# looking where this ineuron and ineuron1 come from
# What happens is in above code  where you create a table, query =... 
# when I run that particular code for multiple times I will get error at first saying that you have already created
# ineuron table then i changed ineuron to ineuron1 and if I run the 
# code for second time, I end up getting error that you have already created
# ineuron1 table. So, that's why when I am fetching all tables 
# it results me all the table.

[('ineuron',), ('ineuron1',), ('ineuron2',)]

In [67]:
# I can insert dataset into the table
cursor.execute('insert into ineuron1 values(423423,"sudh","kumar","2021-10-30","MLDL","four")')

In [68]:
# the above code will not insert the dataset inside the table. 
# In oder to insert dataset I need to commit
# For that first of all call your connection
mydb.commit()
# Remember if you run above code multiple times then you will store same data 
# multiple times in the same table

In [70]:
# if I want to obtain data in my system from mysql 
# do some data processing
cursor.execute('select * from ineuron1')

In [71]:
cursor.fetchall()

[(423423, 'sudh', 'kumar', datetime.date(2021, 10, 30), 'MLDL', 'four'),
 (423423, 'sudh', 'kumar', datetime.date(2021, 10, 30), 'MLDL', 'four'),
 (423423, 'sudh', 'kumar', datetime.date(2021, 10, 30), 'MLDL', 'four'),
 (423423, 'sudh', 'kumar', datetime.date(2021, 10, 30), 'MLDL', 'four')]

In [72]:
# how to fetch data with pandas
import pandas as pd

In [73]:
pd.read_sql('select * from ineuron1', mydb)#my db is connection

   studentid firstname lastname registrationdate classname sectionname
0     423423      sudh    kumar       2021-10-30      MLDL        four
1     423423      sudh    kumar       2021-10-30      MLDL        four
2     423423      sudh    kumar       2021-10-30      MLDL        four
3     423423      sudh    kumar       2021-10-30      MLDL        four

### Above we learnt how to insert data in a table one by one but let's suppose if i want to insert data in bulk

In [74]:
# 1.first connection is needed which we have already
# 2. I have to create table
import csv

In [81]:
query='create table glassdata1(index1 INT(10),RI float(10,5),Na float(10,5),Mg float(10,5),AL float(10,5),Si float(10,5),K float(10,5),Ca float(10,5),Ba float(10,5),Fe float(10,5),Class INT(5))'

In [82]:
cursor =mydb.cursor()

In [83]:
cursor.execute(query)

In [84]:
# read file
with open ('glassdata1','r') as f:
    glass_data1 =csv.reader(f, delimeter='\n')
    for lines in enumerate(glass_date):
        for list_ in (line[1]):
            cursor.execute('insert into glassdata1 values({})'.format(values=list_))
    mydb.commit()

FileNotFoundError: [Errno 2] No such file or directory: 'glassdata1'

In [86]:
with open ('glassdata','r') as f:
    glass_data1 =csv.reader(f, delimeter='\n')
    for lines in enumerate(glass_data):
        for list_ in (line[1]):
            print(list_)

FileNotFoundError: [Errno 2] No such file or directory: 'glassdata'